@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

header {
  border-bottom: 1px solid #000;
  width: 70%;
  position: relative;
  left: 15rem;
  top: 1rem;
}

header p {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-left: -2rem;
}

.nav-link {
  margin-top: 1rem;
  color: #000;
}

/* .navbar ul li {
  display: inline-block;
  float: right;
  margin-left: -60rem;
  padding: 1rem 34.2rem;
  margin-top: -2rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
} */

.welcome {
  background-color: #000;
  margin-top: 5rem;
  margin-left: -2rem;
  margin-right: 0.1rem;
  padding: 10rem 1rem;
  color: #fff;
}

.welcome h1 {
  font-size: 6rem;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 2rem;
  animation: moveInRight 1s ease-out;
}

.banner img {
  width: 100.5%;
}

.mystory {
  background-color: rgb(254,252,143);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.mystory {
  background-color:rgb(254,252,143);
  padding: 5rem 1rem;
}

.mystory h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
}

.mystory p {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.mystory .para {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.ab {
  background-color: #eee;
  width: 100%;
  padding: 6rem;
  margin-top: -50rem;
}

.quote {
  margin-top: 7rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  
}

.name {
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
 
}

.skillset .text {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-weight: lighter;
}

.card {
  margin-left: 4rem;
  margin-top: 2rem;
}

.card-body {
  background-color: rgb(254,252,143);
}

.card-text {
  margin-top: 2rem;
  font-size: 2.2rem;
  font-weight: lighter;
  font-family: "Open Sans Condensed", sans-serif;
}

.card-p {
  text-transform: lowercase;
  font-size: 1.3rem;
}

.car-1 {
  position: relative;
  left: 34rem;
  top: -25rem;
}

.car-2 {
  position: relative;
  left: 68rem;
  top: -51rem;
}

#lab_social_icon_footer {
  padding: 40px 0;
  margin-top: 5rem;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

@media only screen and (max-width: 768px)  {
    header {
      position: relative;
      left: 3rem;
    }
    header p {
      position: relative;
      left: 1rem;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5rem;
    }

    .nav-link {
      margin-left: -1rem;
      font-size: 1rem;
    }

    .welcome {
      width: 107.4%;
    }
    .welcome h1 {
      font-size: 3rem;
      margin-left: 1.3rem;
    }

     .ab {
      width: 99%;
      margin-top: -1rem;
    }

    .mystory {
      width: 99%;
    }
.mystory .para {
  font-size: 0.9rem;
}

.card {
  margin-left: -0.5rem;
}

.car {
  margin-left: 2.8rem;
}

.ab .quote {
  font-size: 1.2rem;
  padding-top: -5rem;
}

.ab .name {
  font-size: 1rem;
}
    .img1 {
      height: 20rem;
      width: 98%;
    }

    .skillset .text {
      margin-top: 4rem;
    }

    .car-1 {
      position: relative;
      left: 3.2rem;
      top: 1.4rem;
      width: 18rem;
    }

    .car-2 {
      position: relative;
      left: 3.2rem;
      top: 2rem;
    }
}
